<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">Port de Plaisance</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <% if (user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Tableau de bord</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/catways">Catways</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/reservations">Réservations</a>
                    </li>
                    <% if (user.role === 'admin') { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/users">Utilisateurs</a>
                        </li>
                    <% } %>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="/api-docs">Documentation API</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if (user) { %>
                    <li class="nav-item">
                        <span class="nav-link">Bonjour, <%= user.username %></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Déconnexion</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Inscription</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav> 