# Dossiers à ignorer
node_modules/
client/
build/
dist/
coverage/

# Fichiers spécifiques
*.config.js
jest.config.js
babel.config.js
*.test.js

# Dossiers spécifiques
views/
public/
data/

# Fichiers spécifiques
*.ejs
swagger.js

# Fichiers spécifiques
*.min.js
*.bundle.js

# Fichiers spécifiques
data/ 