<!DOCTYPE html>
<html>
<head>
    <title>Détails utilisateur - Port Russell</title>
</head>
<body>
    <nav>
        <a href="/dashboard">Tableau de bord</a>
        <a href="/dashboard/users">Retour aux utilisateurs</a>
    </nav>

    <h1>Détails de l'utilisateur</h1>

    <div>
        <p>Nom d'utilisateur: <%= user.username %></p>
        <p>Email: <%= user.email %></p>
        <p>Nom: <%= user.nom %></p>
        <p>Prénom: <%= user.prenom %></p>
    </div>
</body>
</html> 